.navigation-clean {
  background:#fff;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean .navbar-brand:hover {
  color:#222;
}

.navigation-clean .navbar-toggler {
  border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background:none;
}

.navigation-clean .navbar-toggler {
  color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:#465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean {
  padding-bottom:3em;
}

.center-topic {
  text-align:center;
}

.pad-top-1em {
  padding-top:1em;
}

.center-topic-header {
  text-align:center;
  padding-top:1em;
}

.center-topic-sub {
  text-align:center;
  font-size:1.5rem;
  margin-bottom:0;
}

.skill-box {
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.skill-box-heading {
  padding-top:0.5em;
  text-align:center;
}

.container.skill-container {
}

.row {
}

.row.skill-row {
  background-color:rgb(238,238,238);
}

img {
  width:inherit;
  padding-top:1em;
  padding-bottom:1em;
}

.skill-box-p {
  padding-bottom:0;
  margin-bottom:0;
  text-align:center;
}

.skill-box-p-end {
  text-align:center;
}

.gray {
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

p.skill-item {
  font-size:1.3rem;
  padding-left:2rem;
}

.center-topic-comment {
  text-align:center;
  font-size:1rem;
  color:rgb(74,74,74);
}

li.skill-item {
  padding:0.5rem 0;
}

h1.right-side {
  padding-left:2rem;
}

ul.skill-items {
  font-size:1.1rem;
  margin-left:3rem;
  border-left:solid thin;
  border-color:rgb(208,208,208);
}

.footer-p {
  color:rgb(230,230,230);
  text-align:center;
}

