.col {
}

.row {
  margin-left:0;
  margin-right:0;
}

.row.name-title {
  background-color:black;
}

.col-lg-12.offset-1.offset-sm-1.offset-md-1.offset-lg-1.first-contact {
  padding-top:2em;
  padding-bottom:2em;
}

.section, h1 {
  font-weight:bold;
}

ul.skill-items.right-side {
  font-size:1.1rem;
  margin-left:4.8rem;
  border-left:solid thin;
  border-color:rgb(208,208,208);
}

ui.skill-items.right-side {
  margin-left:4.1rem;
}

.center-topic-sub.endline {
  margin-bottom:1rem;
}

